@import 'npm:normalize.css/normalize.css';

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #e5e5e5;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    color: black;
    font-style: normal;
    line-height: 27px;
    padding: 40px;
}

.resume {
    background-color: white;
    display: flex;
    margin: 0 auto;
    width: 1200px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
    flex-shrink: 0;
    background: #1e2939;
    color: white;
    max-width: 370px;

    &__img {
        margin-top: 40px;
        object-fit: contain;
        max-width: 100%;
        max-height: 354px;
    }

    &__contacts {
        margin: 49px 0 0 39px;
    }

    &__contacts-title {
        margin: 0;
        font-weight: bold;
    }

    &__lists {
        padding: 0;
        margin: 0;
    }

    &__lists-item {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        list-style-type: none;
        padding: 0;
        margin: 10px 0 0 2px;
    }

    &__lists-link {
        color: white;
        opacity: 0.5;
        text-decoration: none;
        padding-left: 5px;
        font-weight: 400;

        &:hover {
            text-decoration-line: underline;
            text-underline-offset: 2px;
        }
    }

    &__skills {
        margin: 45px 0 0 41px;
    }

    &__skills-title {
        margin: 0;
        font-weight: bold;
        font-style: normal;
        font-size: 22px;
    }

    &__skills-lists {
        margin: 9px 0 0;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        list-style-type: disc;
        padding: 0;
    }

    &__skills-item {
        list-style-position: inside;
        color: white;

        &::marker {
            color: #fb6d3a;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    margin: 74px 0 50px 88px;
    padding: 0;

    &__name {
        margin: 32px 0;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
    }

    &__subheading {
        display: block;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        margin: 0 0 30px;
    }

    &__description {
        margin: 0;
        padding: 0;
        max-width: 400px;
        width: 100%;
        font-size: 14px;
        line-height: 24px;
    }

    &__projects-head {
        font-size: 22px;
        margin: 40px 0 8px;
    }

    &__projects-subhead {
        font-size: 16px;
        margin: 4px 11px 5px 0;
    }

    &__projects-span {
        font-size: 16px;
        color: #fb6d3a;
        font-weight: bold;
    }

    &__projects-timeline {
        color: #a8a8a8;
        font-size: 12px;
        line-height: 15px;
        margin: 0;
    }

    &__projects-timeline-el {
        color: black;
    }

    &__projects-lists {
        color: #595959;
        font-size: 14px;
        line-height: 24px;
        font-style: normal;
        margin: 6px 0 7px;
        padding: 0;
        max-width: 509px;
        width: 100%;
        list-style-position: inside;
    }

    &__projects-item {
        color: black;

        &::marker {
            font-weight: bold;
        }
    }

    &__projects-link {
        text-decoration: none;
        color: #595959;
        font-weight: normal;

        &:hover {
            text-decoration-line: underline;
            text-underline-offset: 2px;
        }

        &::after {
            width: 142px;
            content: '';
            position: relative;
            display: inline-block;
            border-bottom: 1.5px dashed #a8a8a8;
        }
    }

    &__projects-link-desc {
        color: #595959;
        font-weight: 400;
    }
}
